In [21]:
import sqlite3

In [32]:
# Connect to the database using a properly formatted path.
connection = sqlite3.connect("C:/Users/becod/AI/projects/07-delivery_market_analysis_with_SQL/databases/takeaway.db")

cursor = connection.cursor()

# Execute the SQL query to fetch rows.
cursor.execute("""
               SELECT name, price
               FROM menuItems
               LIMIT 200;
               """)

# Fetch all results and store them in a variable.
results = cursor.fetchall()

# Print the fetched results.
print(results[:5])

# Close the connection when done.
connection.close()

[('Hummus dip', 6.95), ('Seasonal dip', 6.95), ('BarBacon', 12.95), ('Chick(p)ita', 13.95), ('Steak Republic', 14.95)]

In [ ]:
import sqlite3

# Connect to the database using a properly formatted path.
connection = sqlite3.connect("C:/Users/becod/AI/projects/07-delivery_market_analysis_with_SQL/databases/takeaway.db")

cursor = connection.cursor()

# Step 1: Fetch name and price from menuItems (initial data retrieval)
cursor.execute("""
    SELECT name, price
    FROM menuItems
    LIMIT 200;
""")

# Fetch all results and store them in a variable.
results = cursor.fetchall()

# Print the first 5 fetched results.
print("Sample Data (First 5 Rows):")
#print(results[:10])

# Step 2: Calculate price distribution 
cursor.execute("""
    SELECT 
        CASE 
            WHEN price <= 10 THEN '0-10'
            WHEN price > 10 AND price <= 20 THEN '10-20'
            WHEN price > 20 AND price <= 30 THEN '20-30'
            ELSE '30+'
        END AS price_range,
        COUNT(*) AS item_count
    FROM menuItems
    GROUP BY price_range;
""")

# Fetch the price distribution results.
price_distribution = cursor.fetchall()

# Print the price distribution.
print("\nPrice Distribution:")
for range_, count in price_distribution:
    print(f"Price Range {range_}: {count} items")

# Close the connection when done.
connection.close()

Sample Data (First 5 Rows):

Price Distribution:
Price Range 0-10: 230390 items
Price Range 10-20: 149249 items
Price Range 20-30: 18073 items
Price Range 30+: 5301 items