## Delivery Market Analysis with SQL

For MVP we will focus on the following 5 questions:
- What is the price distribution of menu items?
- What is the distribution of restaurants per location?
- Which are the top 10 pizza restaurants by rating?
- Map locations offering kapsalons and their average price.
- Compare restaurant distributions across UberEats, Deliveroo, and Takeaway. What are some of the market trends?

### Connecting to the databases

In [6]:
import sqlite3
import pandas as pd

takeaway_db = '../databases/takeaway.db'
deliveroo_db ='../databases/deliveroo.db'
deliveroo_db ='../databases/ubereats.db'

def query_db(db, sql_query):
    ''' input: db (path to SQLite database), sql_query (str)
        output: pandas DataFrame
    '''
    conn = sqlite3.connect(db)
    with conn:
        res = pd.read_sql_query(sql_query, conn)
    if conn:
        conn.close()
    return res

## Takeaway 
<img  src='../assets/ER_schema_takeaway.png' width=500px>

In [43]:
query = """ SELECT categories.name, AVG(menuItems.price) AS avg_price
            FROM menuItems
            LEFT JOIN categories ON menuItems.ID = categories.item_id
            GROUP BY categories.name
        """
query_db(takeaway_db, query)

                               name  avg_price
0     !Dinsdag/zaterdag! - pizzadag  10.333333
1                  #AlcoholicDrinks   3.000000
2                          #Burgers  11.000000
3                       #Milkshakes   5.625000
4                             #Soft   2.500000
...                             ...        ...
9457              İskender kebablar  18.200000
9458                           Œufs   8.500000
9459                          Вісkу   4.333333
9460                   Кірgerechten  12.500000
9461             ♡ Valentijnsdeal ♡  37.500000

[9462 rows x 2 columns]